.category-overlay {
    position: relative;
    max-width: 1140px;
    margin: auto;
    padding-top: 10px;
    display: grid;

    grid-column-gap: 8px;
    grid-row-gap: 8px;
    &__item {
        &-title {
            font-size: 14px;
            position: absolute;
            top: 24px;
            left: 16px;
            &--white {
                color: #fafafa;
            }
        }
        &:nth-child(4) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        &:nth-child(2) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        &:nth-child(1) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &:nth-child(3) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        img {
            height: 100%;
            width: 100%;
        }
    }
}
@media screen and (max-width: 768px) {
    .category-overlay {
        &__item {
            &-title {
                font-size: 12px;
            }
            &:nth-child(4) {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 2;
                div {
                    top: 12px;
                }
            }
            &:nth-child(2) {
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 2;
                grid-row-end: 4;
                div {
                    top: 12px;
                }
            }
            &:nth-child(1) {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
                div {
                    top: auto;
                    bottom: 12px;
                }
            }
            &:nth-child(3) {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                div {
                    top: auto;
                    bottom: 12px;
                }
            }
        }
    }
}
