.top-bar {
    max-width: 1086px;
    display: flex;
    align-items: center;
    
    
    position: relative;
    z-index: 6;

    margin: auto;

    &__nav {
        display: flex;
        align-items: center;
        flex-grow: 3;
       
    }
    &__info {
        display: flex;
        height: 100%;
        flex-grow: 1;
        justify-content: flex-end;
    }

    &__link {
        display: block;
        padding: 20px 40px 18px 40px;
        height: 100%;
        display: flex;
        text-decoration: none;

        &--disabled-link {
            position: relative;
            z-index: -1;
        }
    }
    &__item {
        height: 100%;
        &--pressed {
            border-bottom: 2px solid #000;
            padding-bottom: 20px;
            transition: 0.1s;
        }
        cursor: pointer;
        &:hover {
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
        }
    }
    &__container {
        border-bottom: 1px solid #dedede;
    }
}

.list {
    display: flex;
    align-items: center;
    list-style: none;

    &__link {
        text-decoration: none;
        color: #000;
        padding: 22px 26px;
        font-size: 14px;
        display: block;
        &--pressed {
            border-bottom: 2px solid #000;
            transition: 0.1s;
            padding-bottom: 20px;
        }
        &:hover {
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
        }
    }
}
.burger-menu{
    margin-left: 12px;
    &__list{
        display: none;
        
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 10;
    }
    &__item{
        position: relative;
       
       
    }
   
}
.logo {
    display: flex;
    align-items: center;

    padding: 17px 0 7px 0;
    margin-right: 30px;
    width: fit-content;
    height: fit-content;
}
.modal_close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
}
@media screen and (max-width: 1000px) {
    .list {
        &__link {
            padding: 22px 10px;
        }
    }
    .top-bar__link {
        padding: 20px 20px 18px 20px;
    }
}
@media screen and (max-width: 768px) {
    #search {
        display: none;
    }
    .top-bar {
        
        &__nav {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        &__list{
            display: none;
        }
    }
    .burger-menu__list{
        display: block;
    }
}
@media screen and (max-width: 500px) {
    .top-bar__link {
        padding: 20px 7px 18px 7px;
    }
}
