.btn-login{
    font-size: 14px;
    padding: 14px 28px 13px 41px;
    background: #fff;
    border: 1px solid #6D6D6D;
    cursor: pointer;
    
}
.btn-icon{
    margin-right: 10px;
}

.registration-form{
    max-width: 368px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;

    padding-top: 52px;
    &__title{
        text-transform: uppercase;
        font-size: 18px;
        padding-bottom: 20px;
    }
    &__input{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 28px;
        &-title{
            font-size: 14px;
            &--gray{
                color: #6D6D6D;
            }
        }
        &-input{
            width: 100%;
            padding: 10px;
            border: 1px solid #6D6D6D;
            font-size: 14px;
            &--wrong{

                border: 1px solid #ff0000;
                
                position: relative;
               
            }

        }
    }
    &__rights{
        font-size: 12px;
        color: #6D6D6D;
        padding-bottom: 12px;
    }
    &__login{
        padding-top: 18px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        &-login{
            cursor: pointer;
        }
    }
    &__hrs{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #DEDEDE;
        padding-top: 30px;
        &-line{
            flex-grow: 2;
            border: 1px solid #DEDEDE;
            margin: 5px;
        }
    }
    &__btns-login{
        width: 100%;
        padding-top: 27px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

}
#input-name::after{
    content: 'Please enter your full name';
    
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    color: #f00;

}
#input-email::after{
    content: 'Please make sure your email format is correct';
    
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    color: #f00;

}
#input-password::after{
    content: 'Please enter min 6 char';
    
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    color: #f00;

}
