.btn {
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    background: #000;
    letter-spacing: 0.02em;
    transition: 0.2s;
    border: 1px solid #000;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

.cart {
    padding: 0 10px;
    max-width: 1136px;
    padding-top: 52px;
    margin: auto;
    position: relative;
    &__title {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 24px;
    }
    &__item {
        display: flex;
        padding: 12px 0;
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__products {
        padding-left: 95px;
        flex-grow: 4;
        max-width: 750px;
    }
    &__descr {
        margin-left: 24px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        border-bottom: 1px solid #dedede;
    }
    &__img {
        max-width: 176px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__name {
        align-items: center;
        display: flex;
        justify-content: space-between;

        &-close {
            cursor: pointer;
        }
    }
    &__quantity {
        &-price {
            display: flex;
            font-weight: 500;
            align-items: flex-end;
        }
        &-btns {
            display: flex;
            align-items: center;
            div {
                margin-right: 5px;
            }
        }
        &-more,
        &-less,
        &-counter {
            cursor: pointer;
            width: 31px;
            height: 31px;
            border: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-counter {
            cursor: default;
        }

        &-container {
            display: flex;
            justify-content: space-between;
        }
        &-caption {
            font-size: 12px;
            color: #6d6d6d;
        }
    }

    &__empty {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        max-width: 369px;
        &-details {
            display: flex;
            justify-content: space-between;
            width: 100%;
            &-order,
            &-date {
                display: flex;
                font-size: 12px;
                padding-bottom: 12px;
                &--gray {
                    display: block;
                    padding-right: 5px;
                    font-size: 12px;
                    color: #6d6d6d;
                }
            }
        }
        &-caption {
            padding: 24px 0 12px 0;
            font-size: 14px;
        }
        &-btn {
            text-align: center;
            display: block;
            width: 100%;

            max-width: 368px;
            &--white {
                background: #fff;
                color: #000;
                border: 1px solid #dedede;
                width: 100%;
                &:hover {
                    color: #fff;
                    background: #000;
                    border: 1px solid #000;
                }
            }
            &:hover {
                background: #fff;
                color: #000;
                border: 1px solid #dedede;
            }
        }
        &-subCaption {
            font-size: 12px;
            padding-bottom: 25px;
            color: #121212;
        }
    }
    &__summary {
        max-width: 272px;
        border: 1px solid #dedede;
        padding: 8px 12px;
        height: fit-content;
        &-title {
            font-size: 12px;
            color: #6d6d6d;
            padding-bottom: 5px;
        }
        &-item {
            padding: 5px 0;
        }
        &-delivery {
            padding: 10px 0;
            border-bottom: 1px solid #dedede;
        }
        &-total {
            padding: 15px 0;
            &-capture {
                color: #6d6d6d;
            }
            &-price {
                font-weight: 500;
                font-size: 14px;
            }
        }
        &-delivery,
        &-total,
        &-item {
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-submit {
            width: 248px;
        }
    }
}
@media screen and (max-width: 1000px) {
    .cart {
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &__products{
            padding-left: 0;
        }
        
    }
}
@media screen and (max-width: 500px) {
    .cart {
        &__name{
            &-name{
                font-size: 10px;
            }
            &-close{
                width: 15px;
                height: 15px;
            }
        }
        &__quantity{
            &-caption{
                display: none;
            }
           
            &-less,&-counter, &-more{
                height: 22px;
                width: 22px;
                font-size: 10px;
            }
            &-price{
                font-size: 12px;
            }
        }
        &__descr{
            padding-bottom: 6px;
        }
    }
}
@media screen and (max-width:420px){
    .cart{
        padding: 0;
        &__img{
            max-width: 90px;
            max-height: 100px;
        }
        &__item{
            justify-content: space-between;
        }
        &__products{
            width: 100%;
            padding: 0 10px;
            padding-bottom: 25px;
        }
        &__summary{
            position: relative;
            bottom: 0;
            right: 0;
            left: 0;

            
            max-width: 100%;
            width: 100%;
            padding: 8px 0px;
            border: none;
            &-submit{
                margin: auto;
            }
            &-item, &-title{
                display: none;
            }
        }
    }
}