.home-products {
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    max-width: 1140px;
    justify-content: center;

    padding-bottom: 25px;
}
.product-item {
    position: relative;
    margin: 6px 6px;
    background: #f0f0f0;
    min-width: 272px;

    &__info {
        padding: 0px 0px 16px 16px;
    }
    &__price {
        font-weight: 500;
        font-size: 14px;
    }
    &__name {
        font-size: 14px;
    }
}
.add-product-btn {
    content: "";

    position: absolute;
    height: 22px;
    width: 22px;
    top: 13px;
    right: 14px;
    transition: 0.2s;
    background: url("../../Assets/Add.png") center/cover no-repeat;

    cursor: pointer;
}
.add-product-btn--pressed {
    background: url("../../Assets/Delete.png") center/cover no-repeat;
}
.product-sort {
    position: relative;
    max-width: 1140px;
    padding-left: 10px;
    font-size: 14px;
    color: #000;
    margin: auto;
    padding-top: 15px;
    &__sort {
        margin-left: 10px;
        font-size: 14px;
    }
}
.show-more {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: auto;
    &__btn {
        width: fit-content;
        background: #fff;
        color: #000;
        padding: 15px;
        outline: none;
        cursor: pointer;
        border: 1px solid #000;
    }
}
@media screen and (max-width: 600px) {
    .product-item{
        width: 50%;
    }
}
