.cart-popUp {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 76px;
    width: 272px;
    height: 254px;
    
    background: #fff;

    &__etc{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    &__item {
        display: flex;
        padding:12px 12px 0px 12px;
        
        &__img {
            width: 69px;
            margin-right: 16px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__descr {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 4;
        }
        &__title {
            font-size: 12px;
            font-weight: 500;
            padding-top: 5px;
        }
        &__price {
            padding-bottom: 5px;
            font-weight: 500;
            font-size: 14px;
            border-bottom: 1px solid #DEDEDE;
        }

        &:nth-child(n+3){
            display: none;
        }
        
    }
    &__btn-to-cart{
        display: block;
        
        position: relative;
        width: 100%;

        padding: 8px 0;
        
        border: none;
        border: 1px solid #000;
        outline: none;
        cursor: pointer;

        text-align: center;
        background: #000;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        transition: .2s;


        &:hover{
            background: #fff;
            color: #000;
            border: 1px solid #DEDEDE;
        }

    }
    &__btn-container{
        width: 100%;
        padding: 12px 12px;
        position: absolute;
        bottom: 0;
    }
}
